# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
env/
venv/
.venv/

# Distribution / packaging
*.egg-info/
build/
dist/

# Django
*.log
*.pot
*.pyc
*.sqlite3
db.sqlite3
media/
staticfiles/
# Ignore migrations for all Django apps
migrations/
**/migrations/
**/migrations/*.py
**/migrations/*.pyc
**/migrations/__pycache__/

# IDE and editor files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# OS files
.DS_Store
Thumbs.db

# Secrets and config
*.env
*.pem
*.key
*.p8
google-services.json
travion-*.json

# Python bytecode
pip-log.txt
pip-delete-this-directory.txt

# Local pylint cache
.pylint.d

# mypy
.mypy_cache/

# Coverage
htmlcov/
.coverage
.coverage.*
.cache
.pytest_cache/

# Jupyter
.ipynb_checkpoints/
